.CardsWrapper-buttondiv {
    display: block;
    width: 100%;
    height: 100px;
    text-align: center;
}

.getCard {
    height: 40px;
    background-color: rgb(85, 85, 85);
    color: white;
    border: none;
    border-radius: 15px;
}
.CardsWrapper-cards {
    display: flex;
    justify-content: center;
    height: 500px;
    padding: 0;
}